body {
    padding: 0% 0%;
}

/* .top-div{
    
    width: 60%;
    margin: auto;
    margin-bottom: 100px;
    padding: 20px;
    display: flex;
} */

.images-container{
    float: left;
    /* flex-basis: 70%; */
    /* margin: 20px 50px 10px 20px; */
}

.product-detials{
    
}

.display-img{
    width: 27vw;
    height: 25vw;
}

.indicators{
    display: flex;
    height: 5vw;
    width: 27vw;
    padding-top: 5px;
}

.indicator-item{
    padding: 5px;
    flex: 1;
}

.checked{
    color: green;
}

.review-link{
    /* width: 100px; */
    /* float: left; */
    /* padding-bottom: 1px; */
    padding-left: 0px;
    padding-right: 0px;
    border-bottom: 2px solid black;
    display: inline-block;
    cursor: pointer;
}

.bottom-div{
    display: flex;
    width: 70%;
}

.flex-item{
    flex:1;
    padding:1em;
}