body {
    padding: 1% 10%;
    background: snow;
}

.left {
    width: 100%;
}

img {
    width: 100%;
}

.indicator {
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-gap: 15px;
    margin-top: 10px;
}


.indicator > img:hover{
    cursor: pointer;
    opacity: 0.8;
}

.checked,
#rating {
    color: rgb(35, 211, 158);
}

a {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid rgb(158, 157, 157);
}



.dispatch {
    text-align: center;
}

button {
    padding: 15px 34px;
    font-size: 0.7em;
    cursor: pointer;
    border-radius: 2px;
}


.description{
    width:80%; 
    font-family: Arial, sans-serif; 
    font-size:medium;
    font-weight: 600;
    color: rgb(158, 157, 157);
}

#cart {
    background-color: #000;
    border: none;
    margin-right: 5px;
    margin-bottom: 5px;
    color: snow;
    font-size: 15px;
    font-weight: 600;
}

#wishlist {
    background: snow;
    border: 1px solid black;
    font-size: 15px;
    font-weight: 600;
}

#cart:hover{
    opacity: 0.8;
}

#wishlist:hover{
    opacity: 0.5;
}

.service {
    margin-top: 20px;
    text-align: center;
}

.service-icon {
    margin-right: 10px;
    margin-top: 30px;
}

.service-text {
    margin-top: -10px;
    padding-left: 30px;
    width: 80%;
    font-family: Arial, sans-serif; 
    font-weight: 300;
    color: rgb(158, 157, 157);
}

@media only screen and (min-width: 500px) {
    .left {
        width: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width: 768px) {
    .row2 {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 100%;
    }

    .service {
        text-align: left;
        margin-right: 15px;
    }
}

@media only screen and (min-width: 1000px) {
    .row1 {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 100%;
    }

    .left {
        margin-right: 10%;
    }

    #cart {
        margin-bottom: 0px;
    }

    .row2 {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 100%;
        /* justify-content: center; */
        
        padding-left: 70px;
        padding-right: 70px;
        
    }

    .product-title{
        padding-top:40px;
    }

    .service {
        text-align: left;
    }

    .dispatch {
        text-align: left;
    }
}